/*******************************************************************************
Sources:
	Slate Theme for GitHub Pages by Jason Costello, @jsncostello
	Leap Day Theme for GitHub Pages by Matt Graham
	TwittStrap Theme http://twittstrap.com/twittstrap/
	
Color Scheme:
  jumbotron - light blue = #3498db | rgb(52,​ 152,​ 219)
  navbar - dark blue = #2c3e50 | rgb(44,​ 62,​ 80)
	banner - yellow = #ffcc00 | rgb(255,​ 204,​ 0)
	footer - turquoise = #004d61 | (rgb(0,​ 77,​ 97)
	background - white = #ffffff | rgb(255,​ 255,​ 255)
	background - white smoke = #f5f5f5 | rgb(245, 245, 245)
	background - medium gray = #373737 | rgb(55, 55, 55)
	background - dark gray = #222222 | rgb(34, 34, 34)
	background - heavy gray = #111111 | rgb(17, 17, 17)
	text body - 
	text link - blue = #007edf | rgb (0, 126, 223)
	text footer - light gray95 = #f2f2f2 | rgb(242, 242, 242)
	text footer links - cyan = #20be9e | rgb(32,​ 190,​ 158)
	
Edited by:  Dawn Brendle Jackson, credo@aristotle.net, @TheNewDaysDawn

Last Revision:  3/30/2015
*******************************************************************************/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 12px;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #20be9e;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {color: #20be9e; text-decoration: underline;}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

input {
	margin-left: .5em;
}

/*******************************************************************************
Custom Classes
*******************************************************************************/

.navbar {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	font-size: 14px;
	background-color: #004d61;
  color: #f2f2f2;
	text-align: center;
}

.navbar-default .navbar-text {
  color: #f2f2f2;
}

.btn-default {
	background-color: #ffcc00;
}

.jumbotron {
	margin-bottom: 0;
	padding-top: 3em;
	padding-bottom: 2.5em;
	border-radius: 0;
}

.jumbobackground{
  background: url(../images/aspb-soybean-horizontal.jpg); 
}

.jumbotransbox {
  background-color: #f5f5f5;
  opacity: 0.9;
	padding: .5em;
}

.img-responsive { 
	float:left;
	vertical-align: middle;
	padding-top: .5em;
	max-width:100%;
	height: auto;
}

.DTTT_container {
	float: left;
}

.ui-corner-tl { 
	border-radius: 0px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-bottomleft: 0px; 
	-moz-border-radius-topright: 0px; 
	-moz-border-radius-topleft: 0px;
}

.ui-corner-tr { 
	border-radius: 0px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-bottomleft: 0px; 
	-moz-border-radius-topright: 0px; 
	-moz-border-radius-topleft: 0px;
}

.ui-corner-bl { 
	border-radius: 0px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-bottomleft: 0px; 
	-moz-border-radius-topright: 0px; 
	-moz-border-radius-topleft: 0px;
}

.ui-corner-br { 
	border-radius: 0px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-bottomleft: 0px; 
	-moz-border-radius-topright: 0px; 
	-moz-border-radius-topleft: 0px;
}

.ui-buttonset .ui-button { 
	margin-right: 0;
}

.ui-widget {
	font-size: 1em;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.dataTables_wrapper {
	border-radius: 0;
}
.footerwrap {
	padding-top: 1.5em;
	padding-bottom: .75em;
	border-radius: 0;
}

.socialwrap {
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 0;
} 
